{{ define "main" }}
{{ if .Params.img_dir }}
<div>
  {{ partial "carousel.html" (dict "context" . "items" "1" "height" "80" "unit" "%" "duration" "5000" 
  "img_dir" .Params.img_dir ) }}
</div>
{{ end }}
<article class="prose lg:prose-lg mx-auto my-8 dark:prose-dark px-4">
<h1 class="text-2xl font-bold mb-2">{{ .Title }}</h1>
{{ if .Params.breed }}
{{ partial "fontawesome.html" "paw" }}
{{ .Params.breed }}
&emsp; 
{{ end }}
{{ if .Params.age }}
{{ partial "fontawesome.html" "clock" }}
{{ .Params.age }}
&emsp; 
{{ end }}
{{ if .Params.lbs }}
{{ partial "fontawesome.html" "weight-scale" }}
{{ .Params.lbs }} lbs
{{ end }}
  <!-- {{ if .Params.thumbnail }}
  <div class="relative max-w-lg mx-auto px-4">
    <img src="{{ .Params.thumbnail }}" class="rounded-lg shadow-sm w-full object-contain" />
  </div>
  {{ end }} -->

    {{ .Content }}
  </article>

  {{- partial "social.html" . -}}
{{ end }}
